<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>Review Flask</h1>
    <p>The statement is {{statement}}</p>
    {% set my_statement= statement + " from Son" %}
    <p>
      Now we send {{my_statement}} to another page called second_page via below
      link
    </p>
    <a
      href="{{ url_for('second_page', new_statement=statement + ' from Son') }}"
    >
      Click me
    </a>
  </body>
</html>
