html, body {
  height: 100%;
}

body {
  /* Background image for the webpage */
  background-image: url('../img/bg_simple.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* Font for the webpage */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

.profile_img {
  width: 10rem;
  height: 10rem;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 3rem;
  background-image: url('../img/eren_blur.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.profile_img:hover {
  background-image: url('../img/eren_sharp.png') !important;
}

/* General format for each section */
.section {
  margin: 7rem auto;
  text-align: center;
  height: 100%;
}

.seperator {
  height: 7rem;
}

/* ======== */
/* About Me */
/* ======== */
.aboutMe {
  margin: 0px auto;
}

.familyName {
  color: teal;
}

.statement {
  margin: 3rem auto 3rem auto;
}

.bi {
  font-size: 3rem;
  color: grey
}

.bi:hover {
  font-size: 3rem;
  color: teal;
}

.contactWeb {
  width: 20%
}


/* ========= */
/* Education */
/* ========= */

.card {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

/* Changing color effect */
/* https://codingyaar.com/bootstrap-card-hover-effect-3-background-color-change/ */
.card {
  border: 0;
  border-radius: 0;
  padding: 3em 0;
  background-color: lightgrey;
  color: #fff;
}

.card-icon {
  margin: 0 1em;
}

.card-icon i {
  font-size: 3em;
}

.card {
  border-bottom-right-radius: 4em;
  border-top-left-radius: 4em;
  box-shadow: 5px 5px 10px #e1e1e1;
}

.card {
  background: linear-gradient(to left, lightgrey 50%, teal 50%);
}

.card {
  background-size: 200%;
  background-position: right;
}

.card:hover {
  background-position: left;
}

.card {
  transition: background-position 0.5s ease-out;
}

/* ========= */
/* Expertise */
/* ========= */

.expertise {}

.expertise_img {
  width: auto;
  height: 50rem;
  background-image: url('../img/expertise_grey.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.expertise_img:hover {
  background-image: url('../img/expertise_teal.png');
}


/* =============== */
/* Career Timeline */
/* =============== */
.popover {
  white-space: pre-wrap;
}

body {
  margin-top: 20px;
}

.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem
}

@media (min-width:768px) {
  .timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: .25rem dotted #adb5bd;
    width: 3.46rem;
    position: absolute;
    left: 7.5rem;
    top: .3125rem
  }

  .timeline-steps .timeline-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: .25rem dotted #adb5bd;
    width: 3.8125rem;
    position: absolute;
    right: 7.5rem;
    top: .3125rem
  }
}

.timeline-steps .timeline-content {
  width: 10rem;
  text-align: center
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #6c757d;
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #adb5bd;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: .5
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open>.dropdown-toggle.btn-secondary {
  background-color: teal !important;
}



/* ============== */
/* Footer Section */
/* ============== */
#footer {
  padding: 7% 15%;
  margin: 15rem auto 0;
  position: relative;
  background-color: #adb5bd;

}

.footerItem {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footerContactWeb {
  width: 5rem;
}

.copyRight {
  top: 6rem;
}